.counter{
    all: unset;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 155, 186);
    border: 3px solid rgba(201, 84, 123, 0.618) ;
    border-radius:15px ;
    margin: 20px auto;
    

}


body{
    background-color: lightpink;
}

.counter button{
    font-size: 30px;
    width:45px;
    height:45px;
    margin:10px;
    background-color :rgb(241, 101, 176);
    border:none;
    transition: 0.4s ease;
    border-radius: 50%;

    &:hover{
        background-color:rgb(236, 60, 154);
        transform: scale(1.06);
    }
    
}